<div style="background-color:yellow ;">
   Our cars

 <ol>
      {{#each data}}
      <li>{{this}}</li>
      {{/each}}
   </ol>
<p>Page: {{page}}</p>
<p>Per page: {{perPage}}</p>
<p>Total count: {{count}}</p>
</div>